body {
        background: #a2a5aa;
      }
header{
        margin: auto;
        text-align: center;
        font-size: 55px;
        color: #d5d815;
        text-shadow: 2px 2px 0 red;
      }
h2    {
        position: absolute;
        top: 794px;
        left: 98px;
      }
h3    {
        position: absolute;
        top: 795px;
        left: 1641px;
      }
h4    {
        position: absolute;
        top: 870px;
        left: 98px;
      }
h5    {
        position: absolute;
        top: 869px;
        left: 1641px;
      }

h6  {
        position: absolute;
        top: 600px;
        left: 20px;
    }
.h7  {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        position: absolute;
        top: 606px;
        left: 1605px;
    }
.l_text    {
        font-family: "Russo One";
        font-size: 45px;
        color: white;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: black;
        position: absolute;
        top: 844px;
        left: 243px;
      }
.l2_text   {
        font-family: "Russo One";
        font-size: 45px;
        color: white;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: black;
        position: absolute;
        top: 844px;
        left: 1789px;
      }
canvas {
    background:url('../media/court.png');
       }

#audioControls {
    display: none;
}
#health {
        position: absolute;
        top: 865px;
        left: 100px;
        background: yellow;
        color: blue;
        
}
#health::-webkit-progress-value {
  background: lightblue;
}

#health::-moz-progress-bar {
  background: lightcolor;
}

#health::-webkit-progress-value {
  background: red;
}

#health::-webkit-progress-bar {
  background: black;
}

#ehealth {
        position: absolute;
        top: 865px;
        left: 1645px;
        background: yellow;
        color: blue;
        
}
#ehealth::-webkit-progress-value {
  background: lightblue;
}

#ehealth::-moz-progress-bar {
  background: lightcolor;
}

#ehealth::-webkit-progress-value {
  background: red;
}

#ehealth::-webkit-progress-bar {
  background: black;
}